/* ServiceDetail.css */
.service-detail-card {
  max-width: 600px; /* Aumenta el ancho máximo de la tarjeta */
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.service-detail-img-container img img {
  display: block;
  margin: 0 auto;
  width: 80%; /* Ajusta el ancho según sea necesario */
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
}
.service-detail-body {
  padding: 20px;
}

.service-detail-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-detail-description {
  white-space: pre-line; /* Respeta los saltos de línea en el texto */
  font-size: 1rem;
  margin-bottom: 20px;
}

.service-detail-star-rating {
  margin-bottom: 10px;
}

.service-detail-button-container {
  display: flex;
  justify-content: center;
}

.service-detail-whatsapp-button {
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.service-detail-whatsapp-button:hover {
  background-color: #1ebc56;
}

.service-detail-close-button {
  background-color: transparent;
  border: none;
  color: #999;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
