/* ./ServiceDetail.css */
.swiffy-slider {
    position: relative;
    display: block;
    width: 100%;
    --swiffy-slider-snap-align: center;
    --swiffy-slider-item-width: 100%;
    --swiffy-slider-item-gap: 1rem;
    --swiffy-slider-item-reveal: 0rem;
    --swiffy-slider-item-ratio: 2/1;
    --swiffy-slider-item-count: 1;
    --swiffy-slider-nav-light: #fff;
    --swiffy-slider-nav-dark: #333;
    --swiffy-slider-nav-zoom: 1;
    --swiffy-slider-track-opacity: 0.1;
    --swiffy-slider-track-height: 0;
    --swiffy-slider-nav-outside-size: 3.5rem;
    --swiffy-slider-indicator-outside-size: 1.5rem;
    --swiffy-slider-animation-duration: 0.75s;
    --swiffy-slider-animation-timing: ease-in-out;
}

.swiffy-slider,
.swiffy-slider::after,
.swiffy-slider::before {
    box-sizing: border-box;
}

.swiffy-slider ::-webkit-scrollbar {
    height: var(--swiffy-slider-track-height);
}

.swiffy-slider ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, var(--swiffy-slider-track-opacity));
}

.swiffy-slider ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.swiffy-slider ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}

.slider-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: grid;
    align-items: center;
    height: 100%;
    grid: auto / auto-flow max-content;
    grid-auto-rows: 100%;
    grid-auto-columns: var(--swiffy-slider-item-width);
    grid-gap: var(--swiffy-slider-item-gap);
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

.slider-container>* {
    scroll-snap-align: var(--swiffy-slider-snap-align);
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-item-helper .slider-container>* {
    background-size: cover;
    background-color: #e1e1e1;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item-ratio .slider-container>*>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-item-ratio .slider-container>*::after {
    display: block;
    padding-top: calc(100% / var(--swiffy-slider-item-ratio));
    content: "";
}

.slider-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
    opacity: 0.8;
    transition: visibility 0.1s, opacity 0.2s linear;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
    transform: scale(var(--swiffy-slider-nav-zoom));
}

.slider-nav::before {
    position: absolute;
    content: "";
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.slider-nav::after {
    content: "";
    mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'></path></svg>");
    mask-size: cover;
    background-color: var(--swiffy-slider-nav-light);
    width: 3rem;
    height: 3rem;
}

.swiffy-slider:hover .slider-nav {
    visibility: visible;
}

.slider-indicators {
    position: absolute;
    right: 2rem;
    bottom: 0;
    left: 2rem;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}

.slider-indicators>* {
    flex: 0 1 auto;
    width: 2rem;
    height: 0.2rem;
    padding: 0;
    border: 0.4rem solid transparent;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity 0.4s ease;
}

.slider-indicators>*.active {
    opacity: 1;
}

.slider-nav-next {
    right: 0;
    left: unset;
}

.slider-nav-next::after {
    transform: rotate(180deg);
}

@media (prefers-reduced-motion: no-preference) {
    .slider-nav-animation .slider-container>*>* {
        transition: opacity var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing), transform var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing);
    }
    .slider-nav-animation .slider-container .slide-visible>* {
        transition: opacity var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing), transform var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing);
    }
    .slider-nav-animation .slider-container>*.slide-visible>* {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}
